#landingPageDiv{
    position: relative;
}
#landingPageImg{
display: block;
width: 100%;
max-height: 600px; 
object-fit: fill;
}
#titleOnLandingImg{
    position: absolute;
    width: 100%;
    top: 25px;
    /* left: 500px; */
    font-size: 4em;
    color: white;
    text-align:center;
    transition: font-size 0.5s;
    text-shadow: 4px 3px 4px red,
                  8px 6px 4px white,
                  12px 9px 4px rgb(5, 50, 248);
                  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
#titleOnLandingImg:hover{
    
font-size: 6em;
}
#textOnLandingImg{
    position: absolute;
    top: 200px;
    color: rgb(244, 246, 247);
    font-size: 1.8em;
    word-spacing: 5px;
    line-height: 50px;
    text-align: center;
    text-shadow: 1px 1px 2px yellow,2px 2px 4px red;
}
#btnOnLandingImg{
    position: absolute;
    bottom: 50px;
    /* width: 100px; */
    height: 25px;
    left: 50%;
    background: blueviolet;
    font-size: 1.1em;
    border: 1px solid blue;
    color: whitesmoke;
    box-shadow: 1px 1px 2px 2px rgb(219, 206, 206);
    
}