.bettingCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin: 15px auto;
    margin-bottom: 100px;
    padding-top: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px #ddd;
}

.betContainerMessage{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: blue;
}

.betTeamCards {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.betBoxesContainer{
    width: 60%;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.betBox, .winChanceBox{
    display: flex;
    margin: 20px;
}

.betBox label,.winChanceBox label {
    font-size: 1rem;
    color: #6c1d6c;
    margin: 0 10px;
    font-weight: bold;
    line-height: 25px;
}

.betBoxesContainer input{
    border: none;
    border-bottom: 2px solid #6c1d6c;
    display: block;
    width: 70px;
    font-weight: bold;
    /* color: red; */
    font-size: 1.2rem;
}

#inputBetBox:active,
#inputBetBox:focus, 
#outputBetBox:active, 
#outputBetBox:focus {
    outline: none;
}

@media screen and (max-width: 700px){
    .betTeamCards{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px){
    .bettingCardsContainer{
        width: 90%;
    }

    .betBox,.winChanceBox{
        margin: 5px;
    }
}

@media screen and (max-width: 400px){
    .betBoxesContainer{
        flex-direction: column;
    }

    .betTeamCards{
        width: 100%;
    }
}