.profileContainer{
    width: 300px;
    min-height: 300px;
    text-align: center;
    margin: 100px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px black;
}

.profileElements{
    width: 300px;
    text-align: center;
}

.profileInputBox{
    width: 300px;
    margin-left: 20px;
}

.profilePic{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid black;
    margin-top: 10px;
}

.profileInput{
    min-width: 200px;
    height: 25px;
    margin: 10px 0;
}

.editButton{
    position: relative;
    right:  30px;
    bottom: 3px;
    width: 40px;
    height: 40px;
}

.editButton Button{
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
}

img~.editButton{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    background: whitesmoke;
    position: relative;
    right: 30px;
}

img~.editButton Button{
    display: relative;
    bottom: 6px;
    right: 6px;
}