.rootLeaderboard {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 33%;
   margin: auto;
   font-size: 2rem;
   font-weight: bold;
   color: purple;
}
/* .matchStartTag{

} */
.playerStatus{
color: green;
font-size: 1.4rem;
}
.myPlayer{
color: green;
font-size: 1.4rem;
}
.rootLeaderboard li{
    list-style-type: none;
    font-size: 1.2rem;
}
.rootLeaderboard li span{
    color: black;
}
.rootLeaderboard div span{
    color: black;
    font-size: 1.2rem;
}