div .matchCard {
    width: 300px;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(70, 140, 206), rgb(122, 122, 202));
    color: whitesmoke;
}

div .matchCard:hover{
    cursor: pointer;
}

div .matchCardFocused {
    background-image: linear-gradient(to right, rgb(99, 219, 62), rgba(231, 228, 19, 0.747));
}

.matchCard .matchTeamAvatar {
    width: 65px;
    height: 65px;
    color: black;
    background: rgb(237, 239, 241);
    border: 1px solid rgb(212, 201, 201);
}

div .matchContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

div .matchContents{
    text-align: center;
    padding: 0;
}

.matchDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.matchTeams{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}


@media screen and (max-width: 600px) {
    div .matchCard {
        width: 300px !important;
        margin: 0;
    }
}

.disableCard{
pointer-events: none;
opacity: 0.4;
}

.betted{
    font-size: 3.2rem;
    color: red;
    position: absolute;
    top: 50px;
    left: 18%;
    transform: rotateZ(-15deg);
    font-weight: bold;
    letter-spacing: 10px;
}