.playerTypeTabContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 40px;
    margin: 2px 0;
}

.playerTypeTab{
    display: inline-block;
    width: 100px;
    cursor: pointer;
    text-align: center;
    border: 1px solid greenyellow;
}

.playerTypeTab.currentTypeTab{
    border: 2px solid green;
    color: green;
    font-weight: bold;
    box-shadow: 0 0 1px 1px #777;
}

.playerTypeTab.maxSelectedTypeTab{
    border: 1px solid red;
}

.currentTypeTab.maxSelectedTypeTab{
    color: rgba(212, 66, 66, 0.795);
}