.stepperContainer{
    position: relative;
    top: 60px;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.stepper{
    order: 1;
}

.stepperBody{
    order: 2;
}

.stepperControls{
    width: 100%;
    order: 3;
    position: absolute;
    top: 70vh;
    text-align: center;
}

.stepperControls Button{
    margin: 0 10px;
}

@media screen and (max-width: 600px) {
    
    .stepperBody{
        order: 3;
    }

    .stepperControls{
        order: 2;
        top: 75vh;
    }
}