.stepperContainer{
    position: relative;
    top: 60px;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div .stepper{
    order: 1;
    width: 90%;
    padding: 20px 0 5px 0;
    box-shadow: 0px 0px 4px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.stepperBody{
    order: 2;
}

.stepperControls{
    width: 100%;
    order: 3;
    position: fixed;
    bottom: 80px;
    text-align: center;
}

.stepperControls Button{
    margin: 0 10px;
    width: 100px;
}

@media screen and (max-width: 600px) {
    
    .stepperBody{
        order: 3;
    }

    .stepperControls{
        order: 2;
        /* top: 85vh; */
        bottom: 80px;
    }
}