.teamInstructions {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(73, 71, 71, 0.589);
    margin: 10px auto;
    background: white;
    border-radius: 10px;
    z-index: 5;
    box-shadow: 0 0 1px 2px #00000056;
}

.infoPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    margin: 10px;
}

.playersCount {
    width: 50px;
    text-align: center;
    padding-top: 4px;
}

.teamName {
    width: 50px;
    text-align: center;
    padding-top: 4px;
    color: rgba(58, 125, 201, 0.863);
    font-size: 1.2em;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.counter {
    height: 20px;
    min-width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.creditsInfo {
    width: 50px;
    text-align: center;
    padding: 4px;
}

.playerPanelControls {
    display: none;
    margin: 5px auto;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    border: 1px solid rgb(85, 76, 76);
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .teamInstructions {
        width: 90%;
    }

    .playerPanelControls {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}