.teamInstruction{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.instruction{
    text-align: center;
    font-family: helvetica;
}

.midInfoPanel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    margin: 10px;
}

.counter{
    width: 30px;
    height: 20px;
    display: inline-block;
}