.teamInstructions{
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(73, 71, 71, 0.589);
    margin: 10px auto;
    background: white;
    border-radius: 5px;
    z-index: 5; 
    box-shadow: 3px 3px #00000056;
}

/* .instruction{
    text-align: center;
    font-family: helvetica;
} */

.infoPanel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    margin: 10px;
}

.teamName{
    color: rgba(58, 125, 201, 0.863);
    font-size: 1.2em;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.counter{
    height: 20px;
    min-width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}