.rootMyMatches{
    padding-top: 1px;
    padding-bottom: 25px;
}
.myMatch{
    width: 250px;
    height: auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
    margin-top: 6px;
    margin-left: 20px;
    border-radius: 5px;
    background: linear-gradient(to right,rgb(143, 137, 196),rgb(90, 123, 189));
    color: rgb(255, 255, 255);
    text-align: center;
}

.myMatch p{
    margin: 0;
}
.myMatchDate{
    padding-top: 5px;
    font-size: 1.4rem;
    color: greenyellow;
}

.myMatchTeamID{
    padding-top: 10px;
    font-size: 0.8rem;
    color: wheat;
}

.myMatchTeams{
    padding-top: 10px;
    font-size: 1.8rem;
}
.myMatchRankAndPoints{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3px 0px 4px;
    color: gold;
}
.myGameTag{
    display: block;
    font-weight: bold;
    color: purple;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 10px;
}
.gameSection{
    background: white!important;
    padding-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}