.mr-auto{
    position: absolute;
    right: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: snow;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.social_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}