.mr-auto{
    position: absolute;
    right: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: snow;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.social_links{
    display: flex;
    flex-direction: row;
}