.playerSelectionPanel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div .playersPool{
    margin: 10px;
    width: 50%;
    padding: 10px;
    border: 1px solid red;
}

div .selectedPlayersPool{
    border: 1px solid green;
}

.playerListLabel{
    width: 100%;
    display: flex;
    flex-direction: row;   
}

.playerListLabel>div{
    text-align: center;
}

.labelPlayer{
    width: 80%;

}

.labelPoints{
    width: 10%;
}

.labelCredits{
    width: 10%;
}