.playerCard{
    width: 100%;
    height: 150px;
}

.playerAvatar{
    width: 100px;
    height: 100px;
}

.playerInfo{
    width: 80%;
    display: flex;
    flex-direction: row;  
}

.playerNameBox{
    display: flex;
    flex-direction: column;
}

.playerName{
    color: #15589b;
}

.playerTeamTitle{
    display: flex;
    flex-direction: row
}

/* .playerPoints{

}

.playerCredits{

} */