.playerCard{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.disableCard{
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgba(204, 190, 190, 0.288);
    border-radius: 10px;
    color: rgba(128, 128, 128, 0.904);
    cursor: initial;
    z-index: 0;
}

.disable{
    height: 50px;
}

.playerAvatar{
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 0;
}

.playerInfo{
    width: 90%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(134, 125, 125, 0.548);
}

.playerNameBox{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.playerName{
    color: #15589b;
}

.playerTeamTitle{
    display: flex;
    flex-direction: row
}

.playerPoints{
    width: 10%;
    align-self: center;
    text-align: center;
    flex-basis: 25%;
}

.playerCredits{
    width: 10%;
    align-self: center;
    text-align: center;
    flex-basis: 25%;
}

@media screen and (max-width: 600px) {
    .playerAvatar{
        margin: 0 3px;
    }

    .playerNameBox{
        width: 70%;
    }

    .playerPoints{
        width: 15%;
    }
    
    .playerCredits{
        width: 15%;
    }
}